<div class="onboard_wrapper">
<div class="onboard_context">
    <div class="text">
        <h1> <span>Welcome to, </span><br> Simple & Secure <br> Payment.</h1>
        <p>Go clashless with JamboPay Wallet to easily pay <br> for movie tickets, electricity Tokens, invest in real Gold <br> and much more.</p>
        

    </div>
    <div>
        <button>Get Started ></button>

    </div>

</div>
<div class="onboard_box">
    <h1>Bill Payments</h1>
    <hr>
   <div class="all_bills">
    <div class="bills">
        <div class="bill_box">hyfgyjqw2dgki</div>
        <div class="bill_box"></div>
    </div>
   
    <div class="bills">
        <div class="bill_box">oiuhd2oied.2lo</div>
        <div class="bill_box"></div>
    </div>
   </div>

   

</div>
    
   

</div>
