
    <div class="nav_bar">
        <div class="sub_nav">
            <div class="web_logo">
                <h1>JamboPay</h1>
                <p><small>Simple & Secure</small></p>
            </div>
            <nav class="nav_links">
                <ul>
                    <li>PRODUCTS</li>
                    <li>COMPANY</li>
                    <li>HELP</li>
                </ul>
            </nav>

        </div>
        <div class="nav_btn">
            <button>Login 
             <span>></span></button>

        </div>
        
     
      
    </div>


